# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de entorno
.env
.env.*

# Salidas de build
build

# Cobertura de tests
coverage

# Archivos temporales de sistema
Thumbs.db
*.tmp

# Archivos de entorno específicos
/backend/.env
/frontend/.env
